body {
  display: flex;
  font-family: fantasy;
  border: 10px solid black;
  height: 500px;
  width: 900px;
}

.action-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 175px;
  background: blue;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin: 25px;
  border-radius: 5px;
  border: 1px solid red;
}

.left-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 500px;
  background: url("https://res.cloudinary.com/mccapes-construction/image/upload/v1518574537/texture_ocx2bg.jpg");
  background-size: 100px 100px;
}

.left-bar-btn {
  width: 125px;
  height: 50px;
  background: blue;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: fantasy;
  font-size: 18px;
  margin: 50px;
}

.left-bar-btn:hover {
  border: 3px solid red;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  background: white;
}

#main {
  height: 500px;
  width: 500px;
  background: url("https://res.cloudinary.com/mccapes-construction/image/upload/v1518574911/dirt_c6xgdn.jpg");
  background-size: 100px 100px;
}

.right-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 500px;
  background: url("https://res.cloudinary.com/mccapes-construction/image/upload/v1518574537/texture_ocx2bg.jpg");
  background-size: 100px 100px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  opacity: 0.5;
  border-radius: 5px;
}

#canvas2 {
  /* display: none; */
}
